{% extends 'partials/base.html.twig' %}

{% block content %}
	<div class="row gtr-150">
		<div class="col-8 col-12-medium imp-medium">
			{{ parent() }}
		</div>
		<div class="col-4 col-12-medium">

		{% include 'partials/components/portals_sidebar.html.twig' %}

		</div>
	</div>
{% endblock content %}