<!-- Two -->
	{% set extra_classes = placing is even ? ' style3 left' : 'style2 right' %}
	<section id="{{ f.slug }}" class="spotlight {{ extra_classes }}">
		<span class="image fit main"><img src="images/pic03.jpg" alt="" /></span>
		<div class="content">
			<header>
				<h2>Interdum amet non magna accumsan</h2>
				<p>Nunc commodo accumsan eget id nisi eu col volutpat magna</p>
			</header>
			<p>Feugiat accumsan lorem eu ac lorem amet ac arcu phasellus tortor enim mi mi nisi praesent adipiscing. Integer mi sed nascetur cep aliquet augue varius tempus lobortis porttitor lorem et accumsan consequat adipiscing lorem.</p>
			<ul class="actions">
				<li><a href="#" class="button">Learn More</a></li>
			</ul>
		</div>
		<a href="#three" class="goto-next scrolly">Next</a>
	</section>